@import "variablesTask";
@import "mixinsTask";

* {
    margin: 0, auto;
}

#menu {
    background-color: $backgroundcolorMenu;
    height: $heightMenu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include FirstMenuStyle;
}

#menuWithoutButton {
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    align-items: center;

    a {
        color: white;
    }

    a:hover {
        color: $colorPlaceAnOrder;
    }

}



.buttonsInMenu {
    display: flex;
    justify-content: space-between;
}

#imageLogo {
    @include LogoStyle;
}

#hrFirstContainer {
    @include hrColor();
    text-align: left;
}

.my-nav {
    justify-content: flex-end;
}

.header {
    background-color: $backgroundcolorMenu;
    height: $heightMenu;
}


.circle {
    border-radius: 50%;
    border: 0.01px solid white;
    padding: 10px;
    background-color: $backgroundcolorMenu;
    color: white;
}

.buttonsZ {
    @include Buttons;
    width: 100px;
    height: 40px;
}


.buttonsQ {
    @include Buttons;
    width: 100px;
    height: 40px;
    background-color: $backgroundcolorOrder;
    margin-left: 10px;
}

.buttonsZ:hover {
    background-color: rgb(2, 109, 144);
}

.buttonsQ:hover {
    background-color: $backgroundcolorOrderHover;
}

.horizontal {
    display: flex;
    align-items: flex-end;
    height: 500px;
}

.girlBackground {
    background-image: url(../img/firstBackground.png);
    height: 631px;
}

.blueEssays {
    @include BlueBlack();
    
}

.blackEssays {
    @include BlueBlack(black);
}

.imageGirl {
    float: right;
}

.hrIn {
    @include hrNeed();
}

.innerText {
    width: 537px;
    color: #656a70;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.buttonPlace {
    color: #ffffff;
    font-family: $fontfamilyText;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 220px;
    height: 50px;
    background-color: #f75e2e;
    border: 1px;
    border-radius: 2%;
}

.mButtom{
    margin-bottom: 45px;
}

.downMenu{
    background-color: $backgroundcolorMenu;
    box-shadow: 0 4px 30px rgba(202, 202, 202, 0.15);
    border-bottom: 2px solid gray; 
}

#downMenuGirl {
    overflow: hidden;
    div {
        height: 100px;
        background-color: $backgroundcolorMenu;
        margin-bottom: 3px;
        @include caclWidth(4, 5%);
        float: left;
    }
}