/* properties */
$boxshadow-Menu: 0 1px 5px rgba(0, 0, 0, 0.1);


/* colors */
$background-colorMenu: #03a9f4;
$background-colorSignIn: #0287c3;
$background-colorOrder: #f75e2e;
$colorPlaceAnOrder: #656a70;

/* fonts */
$font-familyMenu: "Poppins - Semi Bold";
$font-familyText: Poppins;
$letter-spacingMenu: 0.24px;


