$boxshadowMenu: 0 1px 5px rgba(0, 0, 0, 0.1);

$backgroundcolorMenu: #03a9f4;
$backgroundcolorSignIn: #0287c3;
$backgroundcolorOrder: #f75e2e;
$backgroundcolorOrderHover: #d85a34;
$colorPlaceAnOrder: #656a70;

$fontfamilyMenu: "Poppins - Semi Bold";
$fontfamilyText: Poppins;
$letterspacingMenu: 0.24px;
$heightMenu: 101px;

