* {
  margin: 0, auto;
}

#menu {
  background-color: #03a9f4;
  height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

#menuWithoutButton {
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}
#menuWithoutButton a {
  color: white;
}
#menuWithoutButton a:hover {
  color: #656a70;
}

.buttonsInMenu {
  display: flex;
  justify-content: space-between;
}

#imageLogo {
  width: 249px;
  height: 60px;
}

#hrFirstContainer {
  background-color: #f75e2e;
  width: 50px;
  height: 3px;
  text-align: left;
}

.my-nav {
  justify-content: flex-end;
}

.header {
  background-color: #03a9f4;
  height: 101px;
}

.circle {
  border-radius: 50%;
  border: 0.01px solid white;
  padding: 10px;
  background-color: #03a9f4;
  color: white;
}

.buttonsZ {
  width: 46px;
  height: 9px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  border: 2px solid #1088c7;
  background-color: #0287c3;
  color: white;
  width: 100px;
  height: 40px;
}

.buttonsQ {
  width: 46px;
  height: 9px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  border: 2px solid #1088c7;
  background-color: #0287c3;
  color: white;
  width: 100px;
  height: 40px;
  background-color: #f75e2e;
  margin-left: 10px;
}

.buttonsZ:hover {
  background-color: #026d90;
}

.buttonsQ:hover {
  background-color: #d85a34;
}

.horizontal {
  display: flex;
  align-items: flex-end;
  height: 500px;
}

.girlBackground {
  background-image: url(../img/firstBackground.png);
  height: 631px;
}

.blueEssays {
  color: #03a9f4;
  font-family: Poppins;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: -0.94px;
  letter-spacing: -0.94px;
}

.blackEssays {
  color: black;
  font-family: Poppins;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: -0.94px;
  letter-spacing: -0.94px;
}

.hrIn {
  width: 50px;
  border: 4px solid #f75e2e;
}

.innerText {
  width: 537px;
  color: #656a70;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.buttonPlace {
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 220px;
  height: 50px;
  background-color: #f75e2e;
  border: 1px;
  border-radius: 2%;
}

.mButtom {
  margin-bottom: 45px;
}

.downMenu {
  background-color: #03a9f4;
  box-shadow: 0 4px 30px rgba(202, 202, 202, 0.15);
  border-bottom: 2px solid gray;
  position: absolute;
  top: 640px;
  width: auto;
}

#downMenuGirl {
  overflow: hidden;
}
#downMenuGirl div {
  height: 100px;
  background-color: #03a9f4;
  margin-bottom: 3px;
  width: 21.25%;
  margin-right: 5%;
  float: left;
}
#downMenuGirl div:nth-child(4n) {
  margin-right: 0;
}

.forGirl {
  position: relative;
}

.imageGirl {
  position: absolute;
  right: 20px;
  top: 92px;
  z-index: 100;
}

.buttonContinue {
  width: 201px;
  height: 50px;
  background-color: #0287c3;
  border: 1px solid gray;
  color: white;
  margin-top: 48px;
}

.plusAndMinus {
  width: 50px;
  height: 50px;
  margin: 0;
}

.inputPages {
  border: 1px solid gray;
  border-radius: 3%;
  margin: 0;
  height: 49px;
  text-align: center;
  width: 100px;
}

.imput {
  width: 180;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #d8dadb;
  background-color: #f6f9f9;
}

.widthB {
  width: 180px;
  height: 50px;
  border-radius: 3px;
  border: solid 1px #d8dadb;
  background-color: #f6f9f9;
}

.Welcome {
  position: relative;
  top: 70px;
  margin-left: 30px;
}

.siteMap {
  width: 187px;
  height: 13px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0287c3;
}

.secondPartAdvantages {
  background-image: url(../img/backGroundBlue.png);
  position: relative;
  text-align: center;
  margin-top: 100px;
  height: 600px;
}

.firstAd,
.secondAd,
.thirdAd {
  width: 360px;
  height: 312px;
  box-shadow: 0px 4px 20px 0 rgba(202, 202, 202, 0.25);
  background-color: #ffffff;
  margin: 7px;
}

.textInAdvanteges {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1e2021;
  width: 200px;
}

.placeAnOrder {
  width: 46px;
  height: 9px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  border: 2px solid #1088c7;
  background-color: #0287c3;
  color: white;
  width: 280px;
  height: 50px;
  border-radius: 3px;
  background-color: #0287c3;
  margin-top: 37px;
}

.firstHow,
.secondHow,
.thirdHow {
  width: 22%;
  height: auto;
  box-shadow: 0px 4px 20px 0 rgba(202, 202, 202, 0.25);
  background-color: #ffffff;
  /* border-right: 2px solid #ccc; */
}

.textIn {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.thirdPar {
  background-image: url(../img/secondBackground.png);
  position: relative;
  text-align: center;
  height: 600px;
}

.discountsF {
  width: 620px;
  box-shadow: 0 4px 30px rgba(202, 202, 202, 0.55);
  background-color: #ffffff;
}

.tryOut {
  width: 391px;
  background-color: #03a9f4;
}

.off {
  color: #f75e2e;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 25px;
}

.pages {
  color: #0287c3;
  font-family: Poppins;
  font-size: 17px;
  font-weight: bold;
}

.sizesOf {
  width: 300px;
  height: 235px;
  border: 1px solid #d3d0d0;
}

.spsecond {
  margin: 15px;
  border-style: dashed;
  width: 80%;
  border: 2px dashed #0287c3;
  border-radius: 5%;
  color: #ffffff;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  position: relative;
}

.offFifteen {
  background-color: #0287c3;
  border: 1px dashed white;
  border-radius: 5%;
}

.fifteenPercent {
  color: #e2f55d;
  font-family: Poppins;
  font-size: 62px;
  font-weight: 900;
  line-height: 57px;
  text-transform: uppercase;
}

.imgInF {
  position: absolute;
  top: 105px;
  left: 20px;
}

.baloonF {
  position: absolute;
  top: 320px;
  right: -50px;
}

.dTr {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.18px;
  font-style: italic;
}