*{
    margin: 0;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    color: darkgray;
}
img{
    float: left;
    width: 30%;

    margin-right: 30px;
    margin-left: 30px;
}

ul{
    list-style-type: none; /*немає градіювання в лісті*/
    font-size: 18px;
    word-spacing: 2px;
}

b{
    font-family: Cambria;
}